@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 60% 94%;
    --foreground: 230 29% 23%;
    --card: 231 60% 99%;
    --card-foreground: 230 29% 23%;
    --popover: 231 60% 99%;
    --popover-foreground: 230 29% 23%;
    --primary: 231 48% 48%;
    --primary-foreground: 231 60% 99%;
    --secondary: 231 40% 88%;
    --secondary-foreground: 230 29% 23%;
    --muted: 231 40% 88%;
    --muted-foreground: 230 20% 50%;
    --accent: 45 100% 51%;
    --accent-foreground: 230 29% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 80%;
    --input: 231 20% 85%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
    --chart-1: 231 48% 48%;
    --chart-2: 210 100% 56%;
    --chart-3: 160 100% 36%;
    --chart-4: 280 100% 56%;
    --chart-5: 50 100% 56%;

    --sidebar-background: 231 48% 48%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 231 48% 48%;
    --sidebar-accent: 231 48% 55%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 231 48% 40%;
    --sidebar-ring: 45 100% 51%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 231 48% 58%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 45 100% 51%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 231 48% 58%;
    --chart-1: 231 48% 58%;
    --chart-2: 210 100% 66%;
    --chart-3: 160 100% 46%;
    --chart-4: 280 100% 66%;
    --chart-5: 50 100% 66%;
    
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 45 100% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
